body {
  font-family: "Roboto+Slab", sans-serif;
  background-color: #17191b;
}
.header {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  background-color: #23253b;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  color: rgb(187, 187, 187);
  box-shadow: 0 5px 6px rgba(255, 255, 255, 0.068);
  top: 0%;
  left: 0%;
  background-size: 100%;
}
.header h1 {
  padding: 5px 12px;
}
.logo {
  margin-left: 20px;
  font-size: 35px;
  letter-spacing: 3px;
  padding: 10px;
}
.red-o {
  color: red;
}
.menu {
  width: 30%;
  margin-left: 80%;
  padding: 0;
  display: flex;
  list-style: none;
  font-size: 18px;
}
.menu li {
  margin-right: 15%;
}
a {
  color: inherit;
  text-decoration: none;
}
@media screen and (max-width: 1400px) {
  .menu {
    margin-left: 30%;
  }
}
a:hover {
  color: darkslateblue;
}
.header2 h1 {
  font-size: 40px;
  letter-spacing: 7px;
  text-shadow: 2px 2px 4px #000000;
}
.container2 {
  max-width: 50%;
  margin: 0 auto;
}
.header2 {
  margin-top: 10%;
  margin-bottom: 5%;
  color: slategray;
  text-align: center;
}
.columns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.columns div {
  width: 100%;
  background: #29283173;
  position: relative;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 10%;
  padding: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
}
.columns h2 {
  color: slategray;
  text-align: center;
  font-size: 200%;
}
.columns p {
  padding-top: 3%;
  padding-bottom: 15%;
  justify-content: center;
  text-align: center;
  font-size: 150%;
  color: rgba(65, 96, 114, 0.692);
}
.columns a {
  display: block;
  padding-top: 3%;
  padding-bottom: 9%;
  justify-content: center;
  text-align: center;
  font-size: 150%;
  color: rgba(65, 96, 114, 0.692);
}
.vklass {
  width: 13%;
}
a:hover {
  color: darkslateblue;
}
@media screen and (max-width: 900px) {
  .header2 h1 {
    font-size: 30px;
    margin-top: 22%;
  }
  .columns p {
    font-size: 120%;
  }
}
